server:
  port: 8080

spring:
  artemis:
    mode: native
    broker-url: "tcp://localhost:61616"
    user: "artemis"
    password: "artemis"
  jms:
    pub-sub-domain: true
    cache:
      session-cache-size: 5
