<configuration>
    <appender name="SIMPLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- Primary goal of this logback config is to reduce the huge noise coming from Azure SDK -->
    <logger name="com.azure.core" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="SIMPLE"/>
    </root>
</configuration>