name: microsoft-azure-servicebus-emulator
services:
  # WARNING - See readme.md for running mssql on macbook with apple chip
  sqledge:
    image: "mcr.microsoft.com/azure-sql-edge:latest"
    platform: linux/amd64
    networks:
      sb-emulator:
        aliases:
          - "sqledge"
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "Str0ngPassword!"

  servicebus-emulator:
    image: mcr.microsoft.com/azure-messaging/servicebus-emulator:latest
    volumes:
      - "./service-bus-config.json:/ServiceBus_Emulator/ConfigFiles/Config.json"
    ports:
      - "5672:5672"
      - "5300:5300"
    environment:
      SQL_SERVER: sqledge
      MSSQL_SA_PASSWORD: "Str0ngPassword!"
      ACCEPT_EULA: "Y"
      SQL_WAIT_INTERVAL: 60
    depends_on:
      - sqledge
    networks:
      sb-emulator:
        aliases:
          - "sb-emulator"

networks:
  sb-emulator: