name: microsoft-azure-servicebus-emulator
services:
  servicebus-emulator:
    image: mcr.microsoft.com/azure-messaging/servicebus-emulator:latest
    volumes:
      - "./service-bus-config.json:/ServiceBus_Emulator/ConfigFiles/Config.json"
    ports:
      - "5672:5672"
      - "5300:5300"
    environment:
      SQL_SERVER: mssql
      MSSQL_SA_PASSWORD: "Str0ngPassword!"
      ACCEPT_EULA: "Y"
      SQL_WAIT_INTERVAL: 60
    depends_on:
      - mssql
    networks:
      sb-emulator:
        aliases:
          - "sb-emulator"

  # WARNING - See readme.md for running mssql on macbook with apple chip
  mssql:
    image: "mcr.microsoft.com/mssql/server:2025-latest"
    platform: linux/amd64
    networks:
      sb-emulator:
        aliases:
          - "mssql"
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "Str0ngPassword!"

networks:
  sb-emulator: