services:
  db:
    image: postgres:18-alpine
    environment:
      POSTGRES_DB: api-test-db # use specific name to reduce flyway conflicts
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"

  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    environment:
      DATASOURCE_URL: jdbc:postgresql://db:5432/api-test-db
      DATASOURCE_USERNAME: postgres
      DATASOURCE_PASSWORD: postgres
    depends_on:
      - db
    ports:
      - "8082:8082"

