services:
  wiremock:
    image: wiremock/wiremock:3.13.2
    container_name: cdks_wiremock
    ports:
      - "8089:8080"
    volumes:
      - ../src/integrationTest/resources/wiremock/mappings:/home/wiremock/mappings
      - ../src/integrationTest/resources/wiremock/__files:/home/wiremock/__files