name: CI Build and Publish

on:
  pull_request:
    branches:
      - main

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Actuator-Demo test
        run: |
          cd actuator-demo
          ./gradlew clean test
          cd ..

